<h1>Testing graphs</h1>
<div class="panel panel-default">
	<div class="panel-heading">Visualization</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">graph</div>
			<%= pie_chart Survey.joins("LEFT OUTER JOIN users ON surveys.user_id = users.id").where(users: {gender: params[:gender_ids], race: params[:race_ids]}).where(:character  => params[:Characters]).group(params[:character]).count %>

			<form>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<%= select_tag 'Characters', options_from_collection_for_select(@characters, 'id', 'character_name') %>
							</div>
						</div>
					</div>
					<strong>Character Codes</strong><br>
					<%= radio_button_tag(:character, "gender") %>
					<%= label_tag(:character_gender, "Gender") %>
					<br />
					<%= radio_button_tag(:character, "race") %>
					<%= label_tag(:character_race, "Race") %>
					<br />
					<%= radio_button_tag(:character, "species") %>
					<%= label_tag(:character_species, "Species") %>
					<br>
					<strong>User Codes</strong></br>
					<p> Gender</p>
					<ol>
						<% @genders.each do |gender| %>
						<li>
							<%= check_box_tag 'gender_ids[]', gender -%>
							<%= h gender -%>
						</li>
						<% end %>
					</ol>
					<p> Race</p>
					<ol>
						<% @races.each do |race| %>
						<li>
							<%= check_box_tag 'race_ids[]', race -%>
							<%= h race -%>
						</li>
						<% end %>
					</ol>
				</div>
				<input type="submit" onclick="updateGraph()">
			</form>
		</div>
	</div>
</div>